/******** Transformative Comp********/
.tfc{
    background: url(../data/rd100/ASCI-bkgd.jpg)no-repeat;
    background-size: cover;
}
.circle{
    position: absolute;
    width: 38vw;
    height: 38vw;
    border-radius: 50%;
}
.carousel .left-circle .carousel-indicators{
    height: 2em;
    bottom: 2.5em;
}
.carousel .right-circle .carousel-indicators{
    height: 2em;
    bottom: 1em;
}
.carousel .circle .carousel-indicators li{
    height: 2em;
    width: 2em;
    opacity: .7;
}
.comp-header{
    max-width: 75%;
    position: absolute;
    z-index: 3;
    left: 5%;
    top: 3%;
    pointer-events: none;
}
.left-circle{
    left: 2%;
    top: 20%;
}
.right-circle{
    left: 45%;
    top: 3%;
}
.arrows{
    height: 60%;
    width: 30%;
    float: left;
    margin-top: 10%;
}
.left-arrow{
    background: url(../assets/customs/Arrow-left.svg)no-repeat;
    margin-left: 10%;
}
.right-arrow{
    background: url(../assets/customs/Arrow-right.svg)no-repeat;
    margin-left: 25%;
}
.title-text-box{
    height: 30%;
    width: 60%;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}
.title{
    height: 30vw;
    font-size: 1.2vw;
    pointer-events: none;
    padding-left: 4em;
    padding-top: 1em;
}
.title h3{
    font-size: 5.5em;
    white-space: pre-line;
    margin-bottom: 0;
}
.title h1{
    font-size: 7em;
    white-space: pre-line;
}
.bold-title{
    font-size: 5em;
}
/***************** RD 100 *********/
.sum-row{
    height: 55%;
}
.rd-logo{
    width:35vw;
    height:95%;
    padding:2% 0 0 5%;
    margin-right: 0;
}
.rd-text-box{
    height: 60%;
    margin-top: 5vw;
    margin-left: 10%;
}
.cover-holder{
    height: 37%;
    width: 90%;
    margin: 0 auto;
}
.cover{
    height: 100%;
    width: 100%;
    position:relative;
}
.cover-logo{
    position: absolute;
    z-index: 1;
    pointer-events: none;
    height: 70%;
    width: 75%;
    right: 18%;
    top: 15%;
}
.cover-img{
    object-fit: contain;
    border: solid .2em #c6bf18;
    max-height: 100%;
    position: absolute;
    left: 25%;
}
.cover-arrow{
    height: 90%;
    width: 100%;
    background: url(../assets/customs/Arrow-right.svg)no-repeat;
}