/****** General *****/
body{
    width: 100%;
}
/******** 4K monitor ********/
@media only screen and (min-width:2159px){
    .carousel-inner, .slideshow-container{
        height: calc(3840px * .33 - 1em);
    }
    body,#app,main{
        height: 3840px;
    }
}

/********** Mobile Phones **********/
@media only screen and (max-width:576px){
    .slideshow-container{
        font-size: calc(10px + 1.2vw);
    }
    .carousel-inner, .slideshow-container{
        height: 100vh;
    }
}
@media only screen and (max-width:576px){
    .slideshow-container h1{
        font-size: 3em;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        height: 30%;
    }
    .top,{
        font-size: calc(10px + 10vw);
    }
    .center{
        left: 2em;
        margin-right: 2em;
    }
    .tubie-container,.tubie-container-left{
        height: 7em;
        width: 18em;
        left: -6em;
    }
    .carousel .carousel-indicators{
        height: 1.5em;
    }
    .margins{
        font-size: calc(10px + 1.2vw);
        padding: 8% 5% 0% 5%;
    }
    .img-main{
        font-size: calc(8px + .3vw);
        height: 40vh;
    }
    .bottom-right{
        max-width: 80%;
        font-size: 1.4em;
        padding: 2%;
    }
    .banner-text{
        height: calc(60vh - 3em);
    }
    .text-side{
        height: 60vh;
    }
    .scrolling-text{
        padding-bottom: 7em;
    }
    .popover{
        font-size: calc(8px + .2vw);
        max-width: 80vw !important;
        min-width: 200px;
    }
    .modal-dialog{
        width: 100vw;
    }
    .modal,.video-js{
        font-size: 8px;
    }
}

/********** Computer **********/
@media only screen and (min-width:576px) and (max-width:2159px){
    body,#app,main{
        height: auto;
        font-size: calc(6px + 1vw);
    }
    .carousel-inner, .slideshow-container{
        height: 60vw;
    }
}
@media only screen and (min-width:576px) and (max-width:2159px){
    .slideshow-container h1{
        font-size: 3.5em;
    }
    .center{
        left: 35%;
    }
    .carousel .carousel-indicators{
        height: 1.5em;
    }
    .watch-video{
        font-size: 1.3em;
    }
    .top-center{
        font-size: 1.2em;
    }
    .top-left{
        font-size: 2.7em;
    }
    .modal,.video-js{
        font-size: .6em;
    }
    .popover{
        font-size: .6em;
    }
}
