/*
*   Break points for different screen sizes:
*
*        Mobile phones:  0px -> 576px
*        Tablets+        
*        Computers:      576px -> 2160px
*        4K:             2160px
*
*
*/
/* Caption display settings */
.video-js .vjs-text-track-display > div > div > div{ 
	/*font-size: 25px !important;
	line-height:33px !important;
	padding:5px !important;
    opacity: 0.5;*/
    background:white !important;
    color: red !important;
	display: inline-block !important;
}
/*Caption Option Visability*/
.vjs-texttrack-settings {
  display:none;
}

/****** General *****/
body,#app,main{
    width: 100%;
    height: auto;
}
/******** 4K monitor ********/
@media only screen and (min-width:2159px){
    .carousel-inner, .slideshow-container{
        height: calc(3840px * .33 - 1em);
    }
    body,#app,main{
        height: 3840px;
        overflow: hidden;
    }
}

/********** Mobile Phones **********/
@media only screen and (max-width:576px){
    .slideshow-container, #modalTimer{
        font-size: calc(10px + 1.2vw);
    }
    .carousel-inner, .slideshow-container{
        height: 110vh;
    }
}
@media only screen and (max-width:576px){
    .slideshow-container h1{
        font-size: 3em;
    }
    .carousel-control-prev,
    .carousel-control-next{
        width: 3em;
        margin-top: 40vh;
    }
    .top,{
        font-size: calc(10px + 10vw);
    }
    .center{
        left: 2em;
        margin-right: 2em;
    }
    .tubie-container,.tubie-container-left{
        height: 7em;
        width: 18em;
        left: -6em;
    }
    .carousel .carousel-indicators{
        height: 1.5em;
    }
    .img-main{
        font-size: calc(8px + .3vw);
        height: 40vh;
    }
    .bottom-right{
        max-width: 100%;
        font-size: 1.4em;
        right: 0;
        padding: 1% 2%;
        height: 25%;
    }
    .with-banner,.bottom-right{
        bottom: 0;
    }
    .cropped-vid{
        position: absolute;
        width: 50%;
        top:22%;
        padding: 2%;
        right: 0;
    }
    .banner-text{
        height: calc(70vh - 2.5em);
        margin-top: -2.5em;
    }
    .text-side{
        height: 70vh;
    }
    .content-side{
        padding-left: 3em;
        padding-right: 3em;
    }
    .scrolling-text{
        padding-bottom: 7em;
    }
    #modalTimer h5, #modalTimer p{
        font-size: 1em;
    }
    .modal-dialog{
        width: 100vw;
    }
    .video-js{
        font-size: .8em;
    }
    .popover{
        font-size: calc(8px + .2vw);
        max-width: 90vw !important;
        min-width: 200px;
    }
    .bs-popover-top .arrow::before, .bs-popover-auto[x-placement^="top"] .arrow::before,
	.bs-popover-top .arrow::after,
	.bs-popover-auto[x-placement^="top"] .arrow::after {
	  border-width: 6em .5rem 0;
	}
}

/********** Tablet/Computer **********/
@media only screen and (min-width:576px) and (max-width:2159px){
    body,#app,main{
        height: auto;
        font-size: calc(10px + .7vw);
    }
    .carousel-inner, .slideshow-container{
        height: 60vw;
    }
}
@media only screen and (min-width:576px) and (max-width:2159px){
    .slideshow-container h1{
        font-size: 3.5em;
    }
    .center{
        left: 35%;
    }
    .carousel .carousel-indicators{
        height: 1.5em;
    }
    .watch-video{
        font-size: 1.3em;
    }
    .top-center{
        font-size: 1.1em;
    }
    .top-left{
        font-size: 2.0em;
    }
    .popover{
        font-size:calc(6px + .7vw);
        max-width: 75vw !important;
    }
    .popover .popover-body{
        max-height: 7em;
    }
}
