/***** Modal ****/
.modal.fade {
    background: rgba(0,0,0,0.4);
}
.modal{
    max-width: 100%;
    padding-right: 0 !important;
    margin: 0 !important;
    font-size: 2em;
}
.modal-open{
    padding-right: 0px !important;
}
#modalTimer .modal-dialog{
    text-align: center;
}
.info{
    width: 60vw;
}
.vid{
    width: 90vw;
}
.modal-dialog{
    max-width: 100vw;
    margin: auto;
    overflow-y: hidden;
}
.modal-body{
    padding: 0;
    height: auto;
}
.modal-title{
    font-size: 1em;
    text-align: center;
}
/****** Modal carousel *****/
.main-info{
    height: 85%;
}
.main-vid{
    height: 0;
}
.page-cover{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: bottom;
}
.main-footer{
    height: 5em;
}
.ribbon{
    position: relative;
    height: 70%;
}
.rd-topic{
    width: 30%;
    height: 100%;
    position: absolute;
    left: 12%;
}
.rd-ribbon{
    height: 70%;
    margin-top: 1%;
    margin-left: 2%;
    filter: brightness(0.9)
}
.banner{
    height: 30%;
    position: relative;
    z-index: 5;
}
.video-js {
    margin: 0 auto !important;
    font-size: 0.5em;
}
/*****carousel indicators*/
.carousel, .carousel-inner,.carousel-item{
    /*background-color: #000;*/
}
.carousel .carousel-indicators{
    height: 1em;
}
.carousel .carousel-indicators li{
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #e0da58;
    border: 0.1em solid #fff;
    margin-left: 2%;
    margin-right: 2%;
}
.carousel-indicators li.active{
    background-color: #BBC356;
    border: 0.1em solid #4a6c6a;
}
/*** carousel controller **/
.carousel-control-prev,
.carousel-control-next{
    height: 100%;
    width: 7%;
}
.control-info{
    margin-top: 55%;
}
.control-vid{
    margin-top: -6em;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    height: 100%;
    width: 0.7em;
}
.carousel-control-prev-icon{
    background: url(../assets/customs/Arrow-left.svg)no-repeat;
}
.carousel-control-next-icon{
    background: url(../assets/customs/Arrow-right.svg)no-repeat;
}
.vid-head{
    margin-left: 4em;
}
.ribbon h2{
    font-size: 1.1em;
    text-align: right;
    margin-top: 1%;
    margin-right: 2%;
}