.sum-row{
    height: 55%;
}
.rd-logo{
    width:37em;
    height:37em;
    padding:2% 0 0 7%;
    margin-right: 0;
}
.rd-text-box{
    height: 60%;
    margin: auto 0;
    width: 90%;
}
.cover-holder{
    height: 37%;
    width: 90%;
    margin: 0 auto;
}
.cover{
    height: 100%;
    width: 100%;
    position:relative;
}
.cover-logo{
    position: absolute;
    z-index: 1;
    pointer-events: none;
    height: 70%;
    width: 75%;
    right: 18%;
    top: 15%;
}
.cover-img{
    object-fit: contain;
    border: solid .2em #c6bf18;
    max-height: 100%;
    position: absolute;
    left: 25%;
}
.cover-arrow{
    height: 90%;
    width: 100%;
    background: url(../assets/customs/Arrow-right.svg)no-repeat;
}

/***** Modal ****/
.modal{
    max-width: 100%;
    padding-right: 0px !important;
    font-size: 2em;
}
.modal-open{
    padding-right: 0px !important;
}
.modal-backdrop.show {
    opacity: 0.75;
}
.info{
    width: 60vw;
}
.vid{
    width: 90vw;
}
.modal-dialog{
    max-width: 100vw;
    margin: auto;
    overflow-y: auto;
}
.modal-body{
    padding: 0;
    height: auto;
}
/****** Modal carousel *****/
.main-info{
    height: 85%;
}
.main-vid{
    height: 0;
}
.page-cover{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: bottom;
}
.main-footer{
    height: 9em;
}
.ribbon{
    position: relative;
    height: 70%;
}
.ribbon img{
    width: 30%;
    height: 100%;
    margin-left: 5%;
}
.banner{
    height: 30%;
}
.video-js {
    margin: 0 auto !important;
    font-size: 1em;
}
/*****carousel indicators*/
.carousel, .carousel-inner,.carousel-item{
    background-color: #000;
    overflow: visible;
    /*height: 100%;*/
}
.carousel .carousel-indicators{
    height: 2em;
}
.carousel .carousel-indicators li{
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: #e0da58;
    border: 0.2em solid #fff;
    margin-left: 2%;
    margin-right: 2%;
}
.carousel-indicators li.active{
    background-color: #BBC356;
    border: 0.1em solid #4a6c6a;
}
/*** carousel controller **/
.carousel-control-prev,
.carousel-control-next{
    height: 10%;
    width: 10%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    height: 100%;
    width: 2em;
    margin-top: 50em;
}
.carousel-control-prev-icon{
    background: url(../assets/customs/Arrow-left.svg)no-repeat;
}
.carousel-control-next-icon{
    background: url(../assets/customs/Arrow-right.svg)no-repeat;
}