/********* Title *************/
.title{
    padding: 2em;
    height: 8vh;
    pointer-events: none;
    display: flex;
    align-items: center;
    width: 100vw;
}
.title h1{
    font-size: 3.3em;
}
.bold-title{
    font-size: 5em;
}

/******** Transformative Comp********/
.tfc{
    background: url(../assets/customs/ASCI-bkgd.jpg)no-repeat;
    background-size: cover;
    margin-bottom: 2%;
}
.circle{
    position: absolute;
    width: 38vw;
    height: 38vw;
    border-radius: 50%;
}
.carousel .left-circle .carousel-indicators{
    height: 2em;
    bottom: 2.5em;
}
.carousel .right-circle .carousel-indicators{
    height: 2em;
    bottom: 1em;
}
.carousel .circle .carousel-indicators li{
    height: 2em;
    width: 2em;
    opacity: .7;
}
.comp-header{
    max-width: 55%;
    position: absolute;
    z-index: 3;
    left: 15%;
    top: 3%;
    pointer-events: none;
}
.left-circle{
    left: 5%;
    top: 20%;
}
.right-circle{
    right: 5%;
    top: 20%;
}
.right-circle img, .left-circle img{
    position: relative;
}
.left-circle img{
    width: 80%;
    top: 15%;
    left: 5%;
}
.right-circle img{
    width: 65%;
    top: 10%;
    left: 20%;
}

.arrows{
    height: 60%;
    width: 30%;
    float: left;
    margin-top: 10%;
}
.left-arrow{
    background: url(../assets/customs/Arrow-left.svg)no-repeat;
    margin-left: 10%;
}
.right-arrow{
    background: url(../assets/customs/Arrow-right.svg)no-repeat;
    margin-left: 25%;
}
.title-text-box{
    height: auto;
    width: 90%;
    padding: 1em 1em;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}
/***************** RD 100 *********/
.sum-row{
    height: 55%;
    width: 100%;
    margin: 0;
}
.rd-dark{
    background: url(../assets/customs/R&D100logo-black.svg)no-repeat;
    object-fit: contain;
    background-position: right bottom;
    height: 95%;
    width: 90%;
    position: absolute;
    right: 2%;
    bottom: 0;
}
.rd-logo{
    width:35vw;
    height:95%;
    padding:2% 0 0 5%;
    margin-right: 0;
}
.rd-text-box{
    margin-left: 5%;
    padding: 1em;
    padding-right: 10%;
}
.cover-holder{
    height: 37%;
    width: 90%;
    margin: 0 auto;
}
.cover{
    height: 100%;
    width: 100%;
    position:relative;
}
.cover-logo{
    position: absolute;
    z-index: 1;
    pointer-events: none;
    height: 70%;
    width: 75%;
    right: 18%;
    top: 15%;
}
.cover-img{
    object-fit: contain;
    border: solid .2em #c6bf18;
    max-height: 100%;
    position: absolute;
    left: 25%;
}