/*disable text select*/
body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/***** Mac OSx scrollbar *****/

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


/****** Google Fonts *****/
@font-face{
    font-family: Anton;
    src: url(../assets/fonts/Anton/Anton-Regular.ttf);
}
@font-face{
    font-family:Open-Sans-Con;
    src: url(../assets/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf);
}
@font-face{
    font-family:Open-Sans;
    src: url(../assets/fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face{
    font-family:Oswald;
    src: url(../assets/fonts/Oswald/static/Oswald-Light.ttf);
}
@font-face{
    font-family:Roboto-Cond;
    src: url(../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
@font-face{
    font-family:Komika-Hand;
    src: url(../assets/fonts/Komika-Hand/KOMIKAHB.ttf);
}
/********** Text Classes ***************/
.title-font{
    font-family: Anton;
}
.body-font{
    font-family: 'Roboto-Cond', sans-serif;
}
.skinny-font{
    font-family: Open-Sans-Con;
    text-transform: uppercase;
}
.content-body{
    font-size: calc(14px + 1.25vw);
}



#empty {
    height: 1780px;
}

/*scroll up button*/
#empty > button{
    top: 80%;
    bottom: 0px;
    position: relative;
    background-color: #590820;
    color: white;
    font-size: 50px !important;
    border: 0px; 
    font-weight: bold;
