/*
*   Break points for different screen sizes:
*
*        Mobile phones:  0px -> 576px
*        Tablets:        576px -> 1200px
*        Computers:      1200px -> 2160px
*        4K:             2160px
*
*
*/

/**********General Basics***********/
#titleBar{
    height:7.5vh;
    max-height: calc(3840px * .075);
}
#carouselComputing{
    height: 20vh;
    margin-bottom: 2.5vh;
}
#carouselHistory{
    height: 20vh;
}
#timeline{
    background-color: black;
    margin: 0;
    height: 50vh;
}

/********* 4K Monitor **********/
@media only screen and (min-width:2159px){
    body{
        height: 100vh;
        width: 100vw;
    }
    .vid-thumb{
        height: 15em;
    }
}
    
@media only screen and (min-width:2159px){
    #titleBar{
        height: 7.5vh;
        font-size: 9em;
    }
    #carousel-carouselComputing, #carouselComputing{
        height: 20vh;
    }
    #carousel-carouselHistory, #carouselHistory, .fix-width{
        height: 20vh;
    }
    #timeline{
        height: 50vh;
    }
}

/********* Phone Devices **********/
@media only screen and (max-width:1200px){
    .side-widget{
        height:45em;
    }
    .fix-width{
        width: 80%;
        padding-top: 3em;
    }
    .timer{
        font-size: 8px;
    }
    .modal-header,.video-js{
        font-size: 8px;
    }
    .modal-body{
        padding: 0.3em;
    }
    .vid-container{
        height: 55vw;
        max-height: 400px;
        padding: 2% 3%;
        padding-right: 8%;
    }
    .vid-thumb{
        height: 10vw;
    }
    .modal-dialog{
        width: 100%;
    }
    .tubie-container-left{
        height: 20vw;
        width: 44vw;
    }
    .tubie-container-right{
        height: 30vw;
        width: 70vw;
        bottom: 5em;
    }
}

@media only screen and (max-width:1200px){
    #titleBar{
        height: 10vh;
        padding: 0.5em;
        font-size: 22px;
    }
    #carousel-carouselComputing, #carouselComputing{
        height: 100vh;
        max-height: 160vw;
        margin-bottom: 0;
        font-size: 10px;
    }
    #carousel-carouselHistory, #carouselHistory, .fix-width{
        height: 100vh;
        max-height: 160vw;
        font-size: 10px;
    }
    #timeline{
        height: 100vh;
    }
}

/********* Tablet Devices**********/
@media only screen and (min-width:576px) and (max-width:1200px){
    .tubie-container-right{
        height: 14vw;
        width: 32vw;
    }
    .side-widget{
        padding-left: 5em;
        height: 60%;
    }
    .fix-width{
        width: 80%;
        margin-left: 20%;
        padding-top: 3em;
    }
    .vid-container{
        height: 100%;
    }
    .timeline-header{
        height: 80%;
        top: 20%;
    }
    .tubie-container-left{
        height: 20vw;
        width: 35vw;
    }
}
@media only screen and (min-width:576px) and (max-width:1200px){
    #titleBar{
        height: 10vh;
        padding: 0.2em;
        font-size: 4em;
    }
    #carousel-carouselComputing, #carouselComputing{
        height: 100vh;
        max-height: 600px;
        margin-bottom: 0;
    }
    #carousel-carouselHistory, #carouselHistory, .fix-width{
        height: 100vh;
        max-height: 600px;
    }
    #timeline{
        height: 120vh;
    }
}

/********* PC Devices
@media only screen and (min-width:1200px){
    .tubie-container-right{
        height: 10vw;
        width: 22vw;
    }
}
@media only screen and (min-width:1200px) and (max-width:2159px){
    #carousel-carouselComputing, #carouselComputing{
        height: 40vw;
        min-height: 400px;
        max-height: 1200px;
    }
    #carousel-carouselHistory, #carouselHistory, .fix-width{
        height: 40vw;
        min-height: 400px;
        max-height: 1200px;
    }
    #timeline{
        min-height: 400px;
        max-height: 40%;
    }
}
    **********/
