/*
*   Break points for different screen sizes:
*
*        Mobile phones:  0px -> 576px
*        Tablets:        576px -> 1200px
*        Computers:      1200px -> 2160px
*        4K:             2160px
*
*
*/
/* Caption display settings */
.video-js .vjs-text-track-display > div > div > div{ 
	/*font-size: 25px !important;
	line-height:33px !important;
	padding:5px !important;
    opacity: 0.5;*/
    background:white !important;
    color: red !important;
	display: inline-block !important;
}
/* Caption Settings */
.vjs-texttrack-settings {
  display:none;
}

/**********General Basics***********/
#titleBar{
    max-height: calc(3840px * .075);
}
#carouselComputing{
    margin-bottom: calc(3840px * .025);
}
#timeline{
    background-color: black;
    margin: 0;
}

/********* 4K Monitor **********/
@media only screen and (min-width:2159px){
    #titleBar{
        height: 7.5%;
        font-size: calc(28px + 2.5vw);
    }
    #carouselComputing{
        height: 20%;
    }
    #carouselHistory{
        height: 20%;
    }
    #timeline{
        height: 50%;
    }
}
@media only screen and (min-width:2159px){
    body{
        height: 3840px;
        width: 100%;
        overflow: hidden;
    }
    .side-widget{
        margin-left: 30%;
    }
}

/********* Phone Devices **********/
@media only screen and (max-width:576px){
    #titleBar{
        height: 10vh;
        padding: 0.5em;
        font-size: 22px;
    }
    #carousel-carouselComputing, #carouselComputing{
        height: 100vh;
        max-height: 160vw;
    }
    #carousel-carouselHistory, #carouselHistory{
        height: 100vh;
        max-height: 160vw;
    }
    #timeline{
        height: 100vh;
    }
    body,#app, main{
        overflow-x: hidden;
    }
}
@media only screen and (max-width:576px){
    .row-full{
        height: 60%;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        width: 100%;
    }
    .carousel-control-prev,
    .carousel-control-next{
        margin-top: 30vh;
    }
    .pic-holder{
        height: 50%;
    }
    .content-pad{
        padding-bottom: 30vw;
    }
    .text-side, .side-widget{
        height: 100%;
        margin-right: 16%;
        margin-top: 1em;
    }
    .fix-width{
        width: 80%;
        padding-top: 3em;
    }
    .img-shadow{
        border-radius: 0;
        box-shadow: 0px 0px 0px #000;
    }
    .circle-wrap{
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .circle-wrap img{
        top: 0%;
    }
    .img-main-large{
        height: 100%;
    }
    .carousel .carousel-indicators{
        height: 1.5em;
    }
    .vid-container{
        height: calc(70% - 33vw);
        max-height: 400px;
        padding: 2% 3%;
        padding-right: 8%;
    }
    .inner-row{
        height: 20vw;
    }
    .timer{
        font-size: 8px;
    }
    .modal,.modal-header,.video-js{
        font-size: .8em;
        overflow: hidden;
    }
    .modal-body{
        padding: 0.3em;
    }
    .modal-dialog{
        width: 100%;
    }
    .tubie-container-left{
        height: 20vw;
        width: 44vw;
    }
    .tubie-container-right{
        height: 30vw;
        width: 70vw;
    }
    .tubie-splash-right{
        width: 70%;
        height: 30vw;
        right: -20%;
    }
    .popover {
        font-size: calc(8px + .2vw);
        max-width: 90vw !important;
    }
    .popover .popover-body{
        max-height: 18em;
    }
}

/********* Tablet/Computer Devices**********/
@media only screen and (min-width:576px) and (max-width:2159px){
    #titleBar{
        height: 10vw;
        padding: 0.2em;
        font-size: 4em;
        max-height: 1000px;
    }
    #carousel-carouselComputing, #carouselComputing{
        height: 100vh;
        max-height: 600px;
    }
    #carousel-carouselHistory, #carouselHistory, .fix-width{
        height: 100vh;
        max-height: 600px;
    }
    #timeline{
        height: 120vh;
    }
    body,#app,main{
        font-size: calc(10px +.7vw);
    }
}
@media only screen and (min-width:576px) and (max-width:2159px){
    .title-header h1{
        font-size: 5vw;
    }
    .tubie-container-right{
        height: 14vw;
        width: 32vw;
        max-height: 30%;
        max-width: 400px;
    }
    .side-widget{
        margin-left: 30%;
    }
    .content-pad{
        padding-bottom: 14vw;
    }
    .fix-width{
        width: 80%;
        margin-left: 20%;
        height: calc(100% - 6em);
    }
    .vid-col{
        height: 70%;
    }
    .timeline-banner{
        height: 15%;
    }
    .timeline-holder{
        height: 85%;
    }
    .tubie-container-left{
        height: 15vw;
        width: 30%;
        max-width: 350px;
        max-height: 70%;
    }
    .popover{
        font-size:calc(6px + .7vw);
        max-width: 50vw !important;
    }
    .modal{
        font-size: 1em;
    }
    .video-js{
        font-size: 1em;
    }
}

/********* PC Devices
@media only screen and (min-width:1200px){
    .tubie-container-right{
        height: 10vw;
        width: 22vw;
    }
}
@media only screen and (min-width:1200px) and (max-width:2159px){
    #carousel-carouselComputing, #carouselComputing{
        height: 40vw;
        min-height: 400px;
        max-height: 1200px;
    }
    #carousel-carouselHistory, #carouselHistory, .fix-width{
        height: 40vw;
        min-height: 400px;
        max-height: 1200px;
    }
    #timeline{
        min-height: 400px;
        max-height: 40%;
    }
}
    **********/
