
/*
*   Break points for different screen sizes:
*
*        Mobile phones:  0px -> 576px
*        Tablets:        576px -> 1200px
*        Computers:      1200px -> 2160px
*        4K:             2160px
*
*
*/

/**********General Basics***********/
#titleBar{
    height: auto;
    max-height: calc(3840px * .075);
}
#carouselComputing{
    margin-bottom: 2.5%;
}
#carouselHistory{
}
#timeline{
    background-color: black;
    margin: 0;
    height: 60vw;
}

/********* 4K Monitor **********/
@media only screen and (min-width:2159px){
    #titleBar{
        height: 7.5vh;
    }
    #carousel-carouselComputing, #carouselComputing{
        height: 20vh !important;
        margin-bottom: 2.5vh;
    }
    #carousel-carouselHistory, #carouselHistory, .fix-width{
        height: 20vh !important;
    }
    #timeline{
        height: 50vh;
    }
}

/********* Phone Devices **********/
@media only screen and (max-width:576px){
    #titleBar{
        padding: 2em;
    }
    #carousel-carouselComputing, #carouselComputing{
        height: 100vh;
    }
    #carousel-carouselHistory, #carouselHistory, .fix-width{
        height: 100vh;
    }
    #timeline{
        height: 100vh;
    }
}

/********* Tablet Devices **********/
@media only screen and (min-width:576px) and (max-width: 1200px){
    #carousel-carouselComputing, #carouselComputing{
        height: 50vw;
        min-height: 600px;
        max-height: 800px;
    }
    #carousel-carouselHistory, #carouselHistory, .fix-width{
        height: 50vw;
        min-height: 600px;
        max-height: 100vh;
    }
    #timeline{
        min-height: 600px;
        max-height: 1200px;
    }
}

/********* PC Devices **********/
@media only screen and (min-width:1200px) and (max-width:2160px){
    #carousel-carouselComputing, #carouselComputing{
        height: 40vw;
        min-height: 400px;
        max-height: 1200px;
    }
    #carousel-carouselHistory, #carouselHistory, .fix-width{
        height: 40vw;
        min-height: 400px;
        max-height: 1200px;
    }
    #timeline{
        min-height: 400px;
        max-height: 40%;
    }
}