/*scroll up button*/
#empty > button{
    top: 80%;
    bottom: 0px;
    position: relative;
    background-color: #590820;
    color: white;
    border-radius: 100%;
    border: 0px; 
    font-weight: bold;
    font-size: 30px !important;
    width: 18vw;
    height: 18vw;
}
#empty > button > span {
    font-size: 80px !important;
    font-weight: bolder;
    display: block;
    margin-bottom: -50px;
    padding: 0px;
}

/***** Slideshow *****/
.slideshow-container{
    overflow: hidden;
    position: relative;
}
.top{
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: .3em;
    font-size: 4.7em;
    text-align: center;
    width: 100%;
}
.center{
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: 3em;
    padding: 1em;
    background-color: rgba(0,0,0,0.5);
    font-size: 1.2em;
}
.slideshow-container img{
    height: calc(100% - 7em);
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
.banner{
    width: 100%;
    height: 3em;
    bottom: 0;
    z-index: 9;
    text-align: right;
    padding-bottom: 3.5em;
}
.banner p{
    font-size: calc(1.5em + 1vw);
    margin-right: 2em;
    margin-bottom: 0;
}
.slideshow-container,#index,#index2{
    margin-bottom: 1.7em;
}
/************** Carousel *****************/
.carousel-item,.row-full,.text-side{
    height: 100%;
}
.banner-text{
    height: calc(100% - 3em);
}
.carousel,.slideshow-container{
    /*font-size: 1em;
    background-color: #000;*/
    overflow: hidden;
}
/******** carousel controller ************/
.carousel-control-prev-icon,
.carousel-control-next-icon{
    height: 50%;
    width: 3em;
}
.carousel-control-prev,
.carousel-control-next{
    height: 30%;
    width: 5%;
    margin-top: 15%;
    transition: .5s;
    z-index: 10;
}
.carousel-control-prev-icon{
    background: url(../assets/customs/Arrow-left.svg)no-repeat;
}
.carousel-control-next-icon{
    background: url(../assets/customs/Arrow-right.svg)no-repeat;
}
/***** Carousel indicators***************/
.carousel .carousel-indicators{
    height: 2em;
    margin-bottom: 30px;
    
}
.carousel .carousel-indicators li{
    display: inline-block;
    height: 1.75em;
    width: 1.75em;
    border-radius: 50%;
    border: .15em solid #FFF;
    margin-left: 2%;
    margin-right: 2%;
}
.carousel-indicators li.active{
    background-color: #BBC356;
    border: .15em solid #4a6c6a;
    border-radius: 50%;
    height: 1.75em;
    width: 1.75em;
}
/**** Carousel Layouts ****/
.vid-wrapper{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.wrapper iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.img-wrapper{
    height: 200px;
    width: 200px;
    overflow: hidden;
}
.img-wrapper img{
    width: 100%;
    animation: kenburns 20s infinite;
}
.slideshow{
    background: #000;
}
.margins{
    padding-top: 1em;
}

.scrolling-text{
    height: 100%;
    padding-bottom: 1em;
    overflow-y: auto;
    transition: .3s;
}
.img-main{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.fill-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cropped-img{
    width: 100%;
    height: 40%;
    margin-top: 25%;
    margin-bottom: 5%;
    object-fit: cover;
}
/** Img Positioning **/
.top-center{
    position: absolute;
    top: 3%;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    letter-spacing: .25em;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    color: #FFF;
}
.top-left{
    position: absolute;
    top: 15%;
    left: 10%;
    margin-right: 30%;
    font-size: 3em;
    line-height: 1.1em;
}
.bottom-right{
    position: absolute;
    max-width: 40%;
    min-width: 15em;
    right: 2%;
    text-align: right;
    padding: 2%;
    background-color: rgba(0,0,0,0.3);
    bottom: 4em;
}
.with-banner{
    bottom: 5em;
}
/***** Watch Video Button *****/
.watch-video{
    text-align: right;
    font-size: 1.5em;
    height: 2em;
    padding-left: 5%;
    padding-right: 15%;
}
.watch-video p{
    margin: 0 0;
    font-family: Open-Sans-Bold;
}
.play-img{
    margin-left: .5em;
    height: 1.8em;
    object-fit: contain;
    float: right;
}

/** slideshow **/
.next-section{
    background: url(../assets/customs/Arrow-right.svg)no-repeat;
    height: 2em;
    width: 2em;
    float: right;
    margin-top: .5em;
}