/********Tubie CSS********/
.tubie-splash{
    z-index: 10;
}
.tubie-container-right{
    background: url(../assets/CustomImages/Tubie-orangebkgd-right.svg) no-repeat;
    background-position:right bottom;
    height: 11vw;
    width: 25vw;
    position: absolute;
    bottom: 6em;
    right: -5em;
}
.tubie-splash-right{
    background: url(../assets/CustomImages/Tubie-orangebkgd-right.svg) no-repeat;
    background-position:right bottom;
    height: 13vw;
    width: 30%;
    position: absolute;
    bottom: 0;
    right: -5%;
    overflow: hidden;
}
.tubie-container-left{
    background: url(../assets/CustomImages/Tubie-orangebkgd-left.svg) no-repeat;
    background-position: bottom left;
    height: 15vw;
    width: 34vw;
    max-width: 700px;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: -5%;
    z-index: 7;
}
.tubie-wrapper{
    width: 50%;
    height: 100%;
}
.tubie-img{
    background: url(../assets/Toobie/tubie_info.png) no-repeat;
    background-position: center bottom;
    background-size: contain;
    margin-top: 7%;
    height: 100%;
    outline: none;
}
.tubie-img-left{
    background: url(../assets/Toobie/tubie_help.png) no-repeat;
    background-position: right bottom;
    background-size: contain;
    height: 100%;
    outline: none;
    margin-right: -50%;
}

/*****Tubie Popover******/
.popover .popover-header {
    font-size: 1.8em;
    font-family: 'Komika-Hand';
    background-color: rgba(0,0,0,0) !important;
    text-align: center;
    border-bottom: .1em solid #ebebeb;
    margin: .1em 1em;
    margin-top: -1em;
}
.popover .popover-body{ 
    font-size: 1.5em;
    font-family: 'Roboto-Cond';
    text-align: center;
    padding: 1em .5em;
    margin-top: -.3em;
    max-height: 8em;
    overflow-y: auto;
    color: #212529;
}
/****Popover Bubble****/
.popover {
    font-size: calc(8px + .5vw);
    max-height: 80%;
    max-width: 40vw !important;
    min-width: 200px;
    border-radius: 45%;
    padding: 4em 5em;
    margin: 0 5%;
    white-space: pre-line;
}

/*****Arrow Placements ***********/
	.popover .arrow {
        width: 2.5rem;
        height: 1em;
        margin: .1rem .1rem;
	}
	.popover .arrow::before, .popover .arrow::after {
	  position: absolute;
	  display: block;
	  content: "";
	  border-color: transparent;
	  border-style: solid;
	}
/****** TOP ******/
	.bs-popover-top, .bs-popover-auto[x-placement^="top"] {
	  margin-bottom: 0.1rem;
	}
	.bs-popover-top .arrow, .bs-popover-auto[x-placement^="top"] .arrow {
	  bottom: calc((2em + 1px) * -1);
	}
	.bs-popover-top .arrow::before, .bs-popover-auto[x-placement^="top"] .arrow::before,
	.bs-popover-top .arrow::after,
	.bs-popover-auto[x-placement^="top"] .arrow::after {
	  border-width: 4.5em 0.5rem 0;
	}
	.bs-popover-top .arrow::before, .bs-popover-auto[x-placement^="top"] .arrow::before {
	  bottom: 0px;
	  border-top-color: rgba(0, 0, 0, 0.25);
	}
	.bs-popover-top .arrow::after,
	.bs-popover-auto[x-placement^="top"] .arrow::after {
      bottom: 1px;
	  border-top-color: #fff;
	}