/******** Tubie Images *********/
.tubie-undefined{
    background: url(../assets/tubie/tubie_info.png) no-repeat;
}
.tubie-def{
    background: url(../assets/tubie/def_tubie.png) no-repeat;
}
.tubie-con{
    background: url(../assets/tubie/consider_tubie.png) no-repeat;
}
.tubie-dyk{
    background: url(../assets/tubie/dyk_tubie.png) no-repeat;
}
.tubieBasic{
    background-position: bottom center;
    background-size: contain;
    height: 90%;
    width: 100%;
    margin-top: 15%;
    outline: none;
}

/****** Tubie ******/
.tubie-container-left{
    background: url(../assets/tubie/Tubie-orangebkgd-left.svg) no-repeat;
    background-position: bottom right;
    height: 100%;
    width: 100%;
    margin-left: -5%;
}
.tubie-container-right{
    background: url(../assets/tubie/Tubie-orangebkgd-right.svg) no-repeat;
    background-position: bottom left;
    height: 6em;
    width: 13em;
    max-width: 50%;
    max-height: 150%;
    position: absolute;
    bottom: 0;
    right: -5em;
    z-index: 3;
}
.tubie-wrapper{
    max-height: 100%;
    height: 100%;
}
.tubie-none{
    width: 100%;
}
.tubie-left{
    width: 40%;
    margin-left: 2%;
}
.tubie-right{
    width: 50%;
    float: right;
}
/********** Circle Tubie *******/
.tubie-circle{
    background-color: #c86b2c;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    position: absolute;
}
.tubie-circle-left{
    left: -18%;
    top: 55%;
}
.tubie-circle-right{
    right: -10%;
    top: 10%;
}
/******* Footer Popover******/
.footer-div{
    font-size: calc(5px + 1.5vw);
    width: 15em;
    height: 3em;
    margin: 0 auto;
}
.footer-div p{
    font-size: 1.7em;
    margin-left: 5%;
    margin: .1em .3em;
    float: left;
}
.footer-div img{
    float: left;
}
.play-img{
    height: 3em;
    object-fit: contain;
}
/******* Pop Over **********/
.popover .popover-header {/*Used as body */
    font-size: 1.8em;
    background-color: rgba(0,0,0,0) !important;
    padding: 1em .5em;
    max-height: 8em;
    overflow-y: auto;
    border-radius: 3em 3em 0% 0%;
    padding-top: 1em;
}
.popover .popover-body{ 
    font-size: 1.7em;
    padding: 0;
    margin-top: .7em;
    color: #212529;
}
/******** Popover Bubble ********/
.popover {
    font-size: calc(8px + .5vw);
    max-height: 80%;
    max-width: 50vw !important;
    min-width: 200px;
    border-radius: 40%;
    padding: 4em 5em;
    margin: 0 3%;
    white-space: pre-line;
    font-family: 'Roboto-Cond', sans-serif;
    text-align: center;
}

/*****Arrow Placements ***********/
	.popover .arrow {
        width: 2.5rem;
        height: 1em;
        margin: .1rem .1rem;
	}
	.popover .arrow::before, .popover .arrow::after {
	  position: absolute;
	  display: block;
	  content: "";
	  border-color: transparent;
	  border-style: solid;
	}

/****** TOP ******/
	.bs-popover-top, .bs-popover-auto[x-placement^="top"] {
	  margin-bottom: 0.1rem;
	}
	.bs-popover-top .arrow, .bs-popover-auto[x-placement^="top"] .arrow {
	  bottom: calc((2em + 1px) * -1);
	}
	.bs-popover-top .arrow::before, .bs-popover-auto[x-placement^="top"] .arrow::before,
	.bs-popover-top .arrow::after,
	.bs-popover-auto[x-placement^="top"] .arrow::after {
	  border-width: 7em 1rem 0;
	}
	.bs-popover-top .arrow::before, .bs-popover-auto[x-placement^="top"] .arrow::before {
	  bottom: 0px;
	  border-top-color: rgba(0, 0, 0, 0.25);
	}
	.bs-popover-top .arrow::after,
	.bs-popover-auto[x-placement^="top"] .arrow::after {
      bottom: 1px;
	  border-top-color: #fff;
	}

/****** BOTTOM ******/
    .bs-popover-bottom, .bs-popover-auto[x-placement^="bottom"] {
	  margin-top: 1rem;
	}
	.bs-popover-bottom .arrow, .bs-popover-auto[x-placement^="bottom"] .arrow {
	  top: calc((2em + 1px) * -1);
	}
	.bs-popover-bottom .arrow::before, .bs-popover-auto[x-placement^="bottom"] .arrow::before,
	.bs-popover-bottom .arrow::after,
	.bs-popover-auto[x-placement^="bottom"] .arrow::after {
	  border-width: 0em 1em 6em 1rem;
	}
	.bs-popover-bottom .arrow::before, .bs-popover-auto[x-placement^="bottom"] .arrow::before {
	  top: 0;
	  border-bottom-color: rgba(0, 0, 0, 0.25);
	}
	.bs-popover-bottom .arrow::after,
	.bs-popover-auto[x-placement^="bottom"] .arrow::after {
	  top: 1px;
	  border-bottom-color: #fff;
	}
    .bs-popover-top .arrow, 
    .bs-popover-bottom .arrow {
        margin-left: 2em;
    }