/********* Carousel ************/
#carouselHistory, #carouselComputing, #timeline{
    overflow-x: hidden;
    position: relative;
} 
.carousel, .carousel-inner, .carousel-item, 
.carousel-caption, .carousel-caption,
.title-screen, .row-full, .screen{
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
}
.carousel-caption{
    max-width: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 0px;
    text-align: left;
}
/******carousel controllers*/
.carousel-control-prev-icon,
.carousel-control-next-icon{
    height: 20%;
    width: 50%;
}
.carousel-control-prev,
.carousel-control-next{
    height: 30%;
    width: 5%;
    margin-top: 10%;
}
.carousel-control-prev-icon{
    background: url(../assets/CustomImages/Arrow-left.svg) no-repeat left;
}
.carousel-control-next-icon{
    background: url(../assets/CustomImages/Arrow-right.svg) no-repeat right;
}
/*****carousel indicators*/
.carousel{
    overflow: hidden;
}
.carousel .carousel-indicators{
    height: 2em;
}
.carousel .carousel-indicators li{
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background: transparent;
    border: .15em solid #4A6C6A;
    margin-left: 2%;
    margin-right: 2%;
}
.carousel-indicators li.active{
    background-color: #4A6C6A;
}
/***** spaning banner*/
.banner{
    position: absolute;
    width: 100%;
    height: 3em;
    bottom: 0;
    z-index: 5;
}

/************** SlideShow Screen *******/
.slideshow-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
/******* Background images **/
.splash-background{
    background-image: linear-gradient(
        to left,
        #4A6C6A 20%,
        #bcd1bc
    );
    max-height: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden;
}
.splash-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: .5s;
}
/******* Title Circles ******/
.splash-title-holder{
    width: 30%;
    font-size: 18px;
    min-width: 8em;
    max-width: 45em;
    max-height: 45em;
    position: absolute;
    z-index: 7;
}
.splash-title-holder::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.splash-title{
    position: absolute;
    border-radius: 50%;
    width: 130%;
    height: 130%;
    z-index: 7;
}
.splash-right{
    right: 3%;
}
.title-left{
    top: -20%;
    left: -20%;
}
.title-right{
    top: -20%;
    right: -30%;
}
.title-right img{
    object-fit: contain;
    width: 70%;
    position: relative;
    top: 30%;
    left: 5%;
}
.title-left img{
    object-fit: contain;
    width: 60%;
    position: absolute;
    top: 30%;
    right: 15%;
}
/********* Slide in Animation ***/
.slide-animate{
    animation: slidein 1s;
}
@keyframes slidein{
    0%{
        margin-left: 100%;
    }
    100%{
        margin-left: 0%;
    }
}
@keyframes kenburns{ /**Breaks image placement**/
    0%{
        transform: scale3d(1.1, 1.1, 1)
            translate3d(30px, 40px, 0px);
    }
    40%{
        transform: scale3d(1.2, 1.2, 1)
            translate3d(-100px, 20px, 0px);
    }
    70%{
        transform: scale3d(1.5, 1.5, 1)
            translate3d(-60px, 70px, 0px);
    }
    100%{
        transform: scale3d(1.1, 1.1, 1)
            translate3d(30px, 40px, 0px);
    }
}

/************ WebPage Title Header ***********/
.title-header{
    justify-content: center;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.title-header h1{
    color: white;
    text-align: center;
    font-size: 1em;
    margin-bottom: 0;
}
    
/************ Women in Computing Layout ********/
/******* Title Circle *****/
.section-header-computing{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top:0%;
}
.computing-header{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: -15%;
    left: -20%;
}
.computing-header img{
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 60%;
}
/******* Background Image *****/
.img-main{
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.img-main img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*************** Building the Future Layout ************/
/******* Title Card *****/
.section-header{
    max-height: 50%;
    width: 28%;
    max-width: 35em;
    position: absolute;
    bottom: 3em;
    padding: 1em;
    margin-bottom: .5em;
    border-radius: 50%;
    pointer-events: none;
}
.section-header img{
    object-fit: contain;
    object-position: left bottom;
    height: auto;
    width: 100%;
    pointer-events: none;
}
/******* Content Side *****/
.side-widget{
    padding: 0;
    height: calc(100% - 5em);
    margin-top: 2em;
    margin-right: 5%;
    white-space: pre-line;
    overflow-y: auto;
}
/******* Image Side *****/
.pic-holder{
    height: 100%;
}
.img-main-large{
    position: relative;
    width: 100%;
}
.img-main-large::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circle-wrap{
    position: absolute;
    width: 160%;
    height: 160%;
    left: 20%;
    top: -10vw;
    background-color: black;
    overflow: hidden;
}
.circle-wrap img{
    min-height:60%;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    position: relative;
    top: 10vw;
    object-position: 50% 50%;
    filter: brightness(.9);
}

/************** In Their Words *******/
.words-holder{
    max-height: 100%;
    height: 100%;
    overflow: hidden;
}
/******* Title Card *****/
.words-header{
    max-width: 25em;
    margin: auto;
}
/******* Slide Container *****/
.fix-width{
    height: calc(100% - 6em);
    width: 80%;
}
/******* Video Slider *****/
.vid-container{
    height:100%;
    max-height: 100%;
    padding: 2%;
    padding-right: 7%;
    overflow-y: auto;
}
.inner-row{
    height: 60%;
}
.vid-col{
    height: 100%;
    margin-bottom: 0 !important;
}
.vid-thumb{
    box-shadow: .5em .7em .5em .1em #2a2b2b;
    object-fit: cover;
    width: 100%;
    height: 80%;
}
/************ Explore the Timeline *********/
/******* Spaning Banner *****/
.timeline-banner{
    height: 20%;
    width: 100%;
    background-color: black;
    overflow: hidden;
    position: relative;
}
.timeline-header{
    height: 50%;
    position: relative;
    top: 50%;
    font-size: calc(6px + 1.5vw);
}
@media only screen and (min-width:1200px){
    .timeline-header{
        font-size: calc(10px + 1.7vw);
    }
}
.timeline-header h2{
    text-align: center;
    color: white;
    font-size: 2.2em;
}
.timeline-header h4{
    color: #bbc356;
    white-space: pre-line;
    font-weight: 500;
    font-size: 1.2em;
}
/******* Webpage Container *****/
.timeline-holder{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 80%;
    z-index: 10;
}
.timeline-holder iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 0;
}