body{
    max-width: 3840px;
    width: 100%;
    margin: 0;
    padding: 0;
}
@media only screen and (min-width:2100px){
    height: 3840px;
}
/***********Title Bar**********/
#titleBar{
    height: calc(3840px * .075);
}
@media only screen and (max-width:576px){
    #titleBar{
    max-height: 200px;
    }
}
/******Women in Computing CSS*/
#carouselComputing{
    height: 35vw;
}
@media only screen and (max-width:576px){
    #carousel-carouselComputing, #carouselComputing{
        height: 100vh;
    }
}
@media only screen and (min-width:576px) and (max-width: 1200px){
    #carousel-carouselComputing, #carouselComputing{
        height: 50vw;
        min-height: 600px;
        max-height: 800px;
    }
}
@media only screen and (min-width:1200px){
    #carousel-carouselComputing, #carouselComputing{
        height: calc(3840px / 4);
        min-height: 400px;
        max-height: 1200px;
    }
}

/******Building Future CSS*/
#carouselHistory{
    height: 100%;
    margin-top: 2.5%;
}
@media only screen and (max-width:576px){
    #carousel-carouselHistory, #carouselHistory, .fix-width{
        height: 100vh;
    }
}
@media only screen and (min-width:576px) and (max-width: 1200px){
    #carousel-carouselHistory, #carouselHistory, .fix-width{
        height: 50vw;
        min-height: 600px;
        max-height: 100vh;
    }
}
@media only screen and (min-width:1200px){
    #carousel-carouselHistory, #carouselHistory, .fix-width{
        height: calc(3840px / 4);
        min-height: 400px;
        max-height: 1200px;
        margin-top: calc(3840px * .025);
    }
}

/*****Timeline*/
#timeline{
    background-color: black;
    margin: 0;
    height: 60vw;
}
@media only screen and (max-width:576px){
    #timeline{
        height: 100vh;
    }
}
@media only screen and (min-width:576px) and (max-width: 1200px){
    #timeline{
        height: 50vw;
        min-height: 600px;
        max-height: 800px;
    }
}
@media only screen and (min-width:1200px){
    #timeline{
        height: calc(3840px / 2.5);
        min-height: 400px;
        max-height: 40%;
    }
}