/********General CSS*/
body{
    height: auto;
    width: 100%;
}
#app, main{
    background-color: #4A6C6A;
    height: 100%;
    width: 100%;
}
h3, p{
    padding-left: 5%;
    padding-right: 20%;
    margin-top: 20px;
}
.gradient-green{
    background-image: linear-gradient(
        to bottom,
        #4A6C6A 20%,
        #bcd1bc
    );
}
.yellow{
    background-color: #BBC356;
}
.red{
    background-color: #8d2446;
}
@font-face{
    font-family: 'HelveMedCon';
    src: url(assets/MuseumFonts2012/HelveNeuMedCon.otf);
}
@font-face{
    font-family: 'testFonts';
    src: url(assets/MuseumFonts2012/SerifBla.otf);
}
/*content text*/
.content-head{
    font-size: 40px;
    overflow: hidden;
    color: white;
}
.content-body{
    font-size: 36px;
    overflow: hidden;
    color: white;
}
.section-header{
    position: absolute;
    bottom: -7%;
    z-index: 10;
    width: 900px;
}
/*banners*/
.banner{
    position: relative;
    height: 13%;
    bottom: 13%;
    z-index: 5;
}

/******Carousel*/
#carouselHistory, #carouselComputing, #theirWords, #timeline{
    padding-bottom: 20px;
}
.carousel-inner, .carousel-item, 
.carousel-caption, .carousel-caption,
.title-screen, .img-main, .row-full{
    height: 100%;
}
.carousel-caption{
    max-width: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 0px;
    text-align: left;
}
/*carousel controllers*/
.carousel-icons{
    height: 25%;
    width: 50%;
}
.carousel-control-prev,
.carousel-control-next{
    height: 60%;
}
.carousel-control-prev{
    margin-left: -3%;
}
.carousel-control-next{
    margin-right: -3%;
}
/*carousel indicators*/
.carousel-indicators{
    height: 70px;
}
.carousel-indicators li{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: transparent;
    border: 5px solid #4A6C6A;
    margin-left: 2%;
    margin-right: 2%;
}
.carousel-indicators li.active{
    background-color: #4A6C6A;
}

/*General img CSS*/
.img-shadow{
    border-radius: 50%;
    box-shadow: 0px 0px 50px 20px #2a2b2b;
}

.kens-wrapper{
    background-color: black;
    overflow: hidden;
}
.kens-wrapper img{
    width: 100%;
    animation: kenburns 60s infinite;
}
@keyframes kenburns{
    0%{
        transform: scale3d(1, 1, 1)
            translate3d(0px, 0px, 0px);
    }
    10%{
        transform: scale3d(1, 1, 1)
            translate3d(-25px, -5px, 0px);
    }
    40%{
        transform: scale3d(1.2, 1.2, 1)
            translate3d(-70px, 60px, 0px);
    }
    70%{
        transform: scale3d(1.3, 1.3, 1)
            translate3d(-150px, 70px, 0px);
    }
    100%{
        transform: scale3d(1, 1, 1)
            translate3d(0px, 0px, 0px);
    }
}

/*Tubie CSS*/
.tubie-container{
    position: absolute;
    background: #d78954;
    border-radius: 50%;
    bottom: 10%;
    right: 5%;
    width: 200px;
    height: 200px;
    z-index: 7;
}
.tubie-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0%;
}
.tubie-wrapper img{
    position: absolute;
    left: -25%;
    top: -25%;
    object-fit: contain;
    height: 150%;
}
/*Tubie Popover*/
.popover{
    max-width: 100%;
    width: 30%;
    margin-left: -10%;
    margin-top: -3%;
}
.popover-header{
    font-size: 50px;
}
.popover-body{
    font-size: 30px;
}

/*Building Future CSS*/
.side-widget{
    margin-left: 25%;
    overflow-y: hidden;
}
.img-main-large{
    position: relative;
    width: 100%;
}
.img-main-large:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circle-wrap{
    position: absolute;
    width: 150%;
    height: 150%;
    left: 20%;
    bottom: -10%;
    background-color: black;
    overflow: hidden;
}
.circle-wrap img{
    width: 100%;
    margin-top: 20%;
}
.vid-slide{
    margin-left: -10%;
}
/*Slideshow*/
.fade-enter-active, .fade-leave-active{
    transition: opacity 3s;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}

.fade-in{
    animation: fadeIn 8s infinite;
}
@keyframes fadeIn{
    0% { opacity: 0%}
    15% { opacity: 100%}
    80% { opacity: 100%}
    100% { opacity: 0%}
}

/*Women in Computing CSS*/
.banner-bottom{
    bottom: 20%;
}
.banner-img-left{
    position: relative;
    bottom: 170px;
    left: 20px;
}

.inner-shadow{
    box-shadow: 20px 20px 500px 10px #2a2b2b inset;
}

/*In Their Words CSS*/
.holder{
    height: 20%;
}
.header{
    width: 130%;
    margin-left: -10%;
    margin-bottom: -30%;
    margin-top: -3%;
}
.vid-thumb{
    margin-bottom: 5%;
    width: 100%;
    box-shadow: 10px 10px 20px 5px #2a2b2b;
}
.vid-top{
    padding-top: 10%;
}
/*modal*/
.modal-dialog{
    max-width: 60%;
    width: 100%;
    margin: auto;
    overflow-y: auto;
}
.modal-dialog h5, .modal-dialog p{
    font-size: 160%;
}
.modal-footer button{
    font-size: 170%;
}

.web-wrapper{
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.web-wrapper iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.img-wrapper{
    display: block;
    width: 100%;
}

