/*General CSS*/
body{
    height: 3840px;
    width: 2160px;
}

#app, main{
    background-color: #4A6C6A;
    height: 100%;
    width: 100%;
}
.yellow{
    background-color: #C6C643;
    height: 70%;
}
.red{
    background-color: #772530;
    height: 30%;
}
/*banners*/
.banner, .banner-bottom, .banner-span{
    position: relative;
    height: 15%;
}

/*content text*/
.content-head{
    font-size: 42px;
}
.content-body{
    font-size: 30px;
}

/*carousel*/
#carouselHistory, #carouselComputing, #theirWords, #timeline{
    height: 33%;
    padding-bottom: 20px;
}
.carousel-inner, .carousel-item, 
.carousel-caption, .carousel-caption,
.title-screen, .row, .img-main{
    height: 100%;
}
.carousel-caption{
    max-width: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 0px;
    text-align: left;
}
.carousel-caption p, h3{
    padding-left: 10%;
    padding-right: 20%;
    margin-top: 20px;
}
.carousel-control-next, .carousel-control-prev{
    height: 20%;
    top: 80%;
}

/*General img CSS*/
.img-shadow{
    border-radius: 50%;
    box-shadow: 0px 0px 20px 10px #2a2b2b;
}

.kens-wrapper{
    background-color: black;
    overflow: hidden;
}
.kens-wrapper img{
    height: 100%;
    animation: kenburns 30s infinite;
}
@keyframes kenburns{
    0%{
        transform: scale3d(1, 1, 1)
            translate3d(0px, 0px, 0px);
    }
    10%{
        transform: scale3d(1, 1, 1)
            translate3d(-25px, -5px, 0px);
    }
    40%{
        transform: scale3d(1.2, 1.2, 1)
            translate3d(-70px, 60px, 0px);
    }
    70%{
        transform: scale3d(1.3, 1.3, 1)
            translate3d(-150px, 70px, 0px);
    }
    100%{
        transform: scale3d(1, 1, 1)
            translate3d(0px, 0px, 0px);
    }
}

/*Building Future CSS*/
.banner-img-top{
    position: relative;
    left: 50%;
    bottom: 220px;
}
.banner{
    top: 100px;
    margin-bottom: -100px;
}
.img-main-large{
    position: absolute;
    top: 10%;
    right: 5%;
    height: 1200px;
    width: 1200px;
}
.side-widget{
    margin-top: 20%;
    margin-left: -5%;
    height: 50%;
    overflow: hidden;
}

/*Women in Computing CSS*/
.banner-bottom{
    bottom: 20%;
}
.banner-img-left{
    position: relative;
    bottom: 170px;
    left: 20px;
}

.inner-shadow{
    box-shadow: 20px 20px 500px 10px #2a2b2b inset;
}
.img-tubie{
    position: absolute;
    z-index: 5;
    background-color: transparent;
    padding-bottom: 5%;
    bottom: 5%;
}
.img-tubie img{
    width: 60%;
}
.img-widget{
    position: absolute;
    height: 55%;
    top: 60%;
    left: 15%;
    z-index: 5;
}

/*In Their Words CSS*/
.container-fluid{
    padding-left: 5%;
    padding-right: 5%;
}
.banner-span{
    top: 5%;
}

.banner-img{
    position: relative;
    bottom: 150px;
    left: 50%;
}
.red-text{
    color: #772530;
    font-size: 30px;
    width: 35%;
    margin-left: 13%;
    position: relative;
    bottom: 100%;
    padding-top: 10px;
}
.vid-thumb{
    margin-bottom: 5%;
    width: 100%;
    box-shadow: 10px 10px 20px 5px #2a2b2b;
}
.vid-top{
    padding-top: 5%;
}
/*modal*/
.modal-dialog{
    max-width: 60%;
    width: 100%;
    margin: auto;
    overflow-y: auto;
}
.modal-dialog h5, .modal-dialog p{
    font-size: 160%;
}
.modal-footer button{
    font-size: 170%;
}

.web-wrapper{
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.web-wrapper iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.img-wrapper{
    display: block;
    width: 100%;
}