#app{
    background-color: #4A6C6A;
}
h1, h2, h3, h4, p{
    padding-left: 7%;
    padding-right: 10%;
}
.carousel{
    width: 100%;
}
.carousel-inner{
    width: 100%;
}
.carousel-caption{
    max-width: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    padding-top: 0px;
    text-align: left;
}

/*Side Content*/
.side-content{
    background-color: yellowgreen;
    padding-top: 3%;
}
.side-content h4{
    padding-bottom: 10%;
}
.side-content h3{
    font-size: 36px;
}
.side-content p{
    font-size: 20px;
}
.blue{
    color: darkblue;
}

/*Main Content*/
.main-content h4, .main-content h2, .main-content .main-dyk
{
    z-index: 1;
    position: relative;
    height: 0px;
    margin-bottom: 0px;
    text-shadow: 0px 1px 5px #000;
}
/*Did you know*/
.main-dyk{
    width: 70%;
    left: 5%;
    bottom: 7%;
    padding-top: 30px;
}
.main-dyk h2{
    top: -40px;
}
.main-dyk-header{
    top: 0px;
    font-size: 72px;
    left: 5%;
}
/*Default*/
.main-holder{
    width: 70%;
    left: 3%;
    position: relative;
    bottom: 30%;
}
.main-holder h2{
    top: -50px;
}
.main-header{
    top: 7%;
    font-size: 44px;
}
.main-caption{
    bottom: 30%;
    text-align: right;
    font-size: 24px;
    width: 62%;
}

/*Wrappers*/
.vid-wrapper{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.wrapper iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.img-dyk-wrapper{
    height: 10%;
    overflow: hidden;
    margin-top: 10%;
    margin-bottom: 10%;
}
.img-dyk-wrapper img{
    height: 100%;
    width: 100%;
    animation: kenburns 20s infinite;
}
.img-wrapper{
    overflow: hidden;
}
.img-wrapper img{
    height: 100%;
    width: 100%;
    animation: kenburns 20s infinite;
}
@keyframes kenburns{
    0%{
        transform: scale3d(1.2, 1.2, 1)
            translate3d(10px, 10px, 0px);
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    90%{
        transform: scale3d(1.5, 1.5, 1)
            translate3d(-20px, -10px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100%{
        transform: scale3d(1.7, 1.7, 1)
            translate3d(10px, 10px, 0px);
        opacity: 0;
    }
}